<div class="jumbotron">
    This component uses a template driven form.
</div>
<div class="col-lg-6 container">

    <form class="form" (ngSubmit)="setPost(postTitle,postBody)"  
    [formGroup]='newPostForm'
    >
    <input 
    formControlName="postTitle"
    type="text" name='post-title' class="form-control" placeholder='post-title' [(ngModel)]="postTitle" required>
    <br>
    <span class="help-block alert alert-warning" 
    *ngIf="!newPostForm.get('postTitle').valid && newPostForm.get('postTitle').touched">Required field. Minimum length of 5 required.</span>
    <br>
    <textarea  
    formControlName="postBody"
    type="text" name='post-body' class='form-control contenteditable' placeholder='write post here' [(ngModel)]="postBody" required></textarea>
    <br>
    <span class="help-block alert alert-warning" 
    *ngIf="!newPostForm.get('postBody').valid && newPostForm.get('postBody').touched">Required field.</span>
    <br>
    <input type="submit" class="btn btn-success" [disabled]="newPostForm.invalid || newPostForm.pristine">
</form>
</div>
<div class="col-lg-6" *ngIf="post">
    {{post.title}}
    {{post.author}}
    {{post.body}}
</div>