<div class="jumbotron">
</div>
<div class="col-lg-10container">

    <form class="form" (ngSubmit)="onSubmit()"  
    [formGroup]='newPostForm'
    >
    <input 
    formControlName="postTitle"
    type="text" name='post-title' id="post-title" class="form-control col-lg-6" placeholder='post-title'  required>
    <br>
    <span class="help-block alert alert-warning" 
    *ngIf="!newPostForm.get('postTitle').valid && newPostForm.get('postTitle').touched">At least 5 letters long.</span>
    <br>
    
    <!-- contenteditable -->
    <textarea  
    #editable
    formControlName="postBody"
    id="post-body"
    contenteditable
    type="text" name='post-body' class='form-control' placeholder='write post here'  style="height:400px;" required></textarea>
    <br>
    <span class="help-block alert alert-warning" 
    *ngIf="!newPostForm.get('postBody').valid && newPostForm.get('postBody').touched">Required field.</span>
    
    <br>
    <div class="form-group col-lg-4">
            <label for="">Image</label>
            <input formControlName="profileImage" name="profileImage" type="file" class="form-control btn btn-success">
        </div>
    <br>
    <input type="submit" value="Post" class="btn btn-success col-lg-5" [disabled]="!newPostForm.valid  || newPostForm.pristine">

</form>
</div>
<div class="col-lg-6" *ngIf="post">
    {{post.title}}
    {{post.author}}
    {{post.body}}
</div>