    <div class="container-fluid col-lg-12">
    
        <div class="row">

            <div class="col-lg-6">
                <form (ngSubmit)="searchForProfile()" #searchForm="ngForm">
                    <select #searchby="ngModel" name="searchBy" id="" [(ngModel)]= "searchBy" required>
                        <option value="" selected disabled hidden>Choose an option</option>
                        <option value="username">username</option>
                        <option value="email">email</option>
                        <option value="firstName">first name</option>
                        <option value="lastName"> last name</option>
                        
                        
                    </select>
                    <div class="alert alert-danger" [hidden]="searchby.valid || searchby.pristine">Please select an option</div>
                    <input type="text" [(ngModel)] = "searchTerm" name="profile-search" class="form-control" placeholder="Search here"  #name="ngModel" required>
                    <div class="alert alert-danger" [hidden]="name.valid || name.pristine">Field is required</div>
                    <input type="submit" class="form-control btn btn-primary col-lg-3" [disabled]="name.invalid || searchby.invalid || name.pristine || searchby.pristine"> 
                </form>
                <br>
                

            </div>
            <div class="col-lg-6">
                <app-profile-item [profile]="p" *ngFor="let p of foundProfiles"></app-profile-item>
                
            </div>
        </div>
    </div>
