<div class="container-fluid col-lg-12">
    <div class="row col-lg-12" style="display:inline-block;">
        <div class="col-lg-12" style="display:inline-block;">
            <div class="card">
               <div class="card-title">
                    <p> {{profile.userName}}'s profile </p>
                    {{profile.userId}}

            </div> 
                <div class="card-body">
                    <img [src]="image" alt="" style="width: 300px; height: 300px;">
                    <p> {{profile.fName}}</p>
                    <p> {{profile.lName}}</p>
                    <p> {{profile.email}}</p> 
            
                </div>
            </div>

        </div>
        <div class="col-lg-12">
            <app-post [post]="post" *ngFor="let post of posts"></app-post>
        </div>
    </div>
</div>
    