<div class="jumbotron">
    Register below 
    <li> This is a reactive form, configured in the .ts file differently from the usual forms we make.</li>
    <li> There are still inputs to add for this page.</li>
</div>
<div class="container-fluid">

<div class="col-lg-8 form-container">
    <form [formGroup]='registerForm' (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="">Username</label>
            <input formControlName="username" type="text" class="form-control">
        </div>
        <span class="help-block alert alert-warning" 
        *ngIf="!registerForm.get('username').valid && registerForm.get('username').touched">Required field. Minimum length of 6 required.</span>
        
        <div class="form-group">
            <label for="">Password</label>
            <input formControlName="password" type="password" class="form-control">
        </div>
        <span class="help-block alert alert-warning" 
        *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched">Passwords must be 6 characters long.</span>

        
        <div class="form-group">
            <label for="">First Name</label>
            <input formControlName="firstName" type="text" class="form-control">
        </div>
        <span class="help-block alert alert-warning"  
        *ngIf="!registerForm.get('firstName').valid && registerForm.get('firstName').touched">First name is required.</span>

        
        <div class="form-group">
            <label for="">Last Name</label>
            <input formControlName="lastName" type="text" class="form-control">
        </div>
        <span class="help-block alert alert-warning" 
        *ngIf="!registerForm.get('lastName').valid && registerForm.get('lastName').touched">Passwords must be 6 characters long.</span>

        <div class="form-group">
            <label for="">Email</label>
                <input formControlName="email" type="text" class="form-control">
                <br>
                <span class="help-block alert alert-warning" 
                *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched">Please enter a valid email.</span>
          
            </div>
                <div class="form-group">
                    <label for="">D.O.B.</label>
                    <input formControlName="dob" type="date" class="form-control">
                </div>
                <span class="help-block alert alert-warning" 
                *ngIf="!registerForm.get('dob').valid && registerForm.get('dob').touched">Please enter a valid date.</span>
          
                <div class="form-group">
                    <label for="">City</label>
                    <input formControlName="city" type="text" class="form-control">
                </div>
                <span class="help-block alert alert-warning"  
                *ngIf="!registerForm.get('city').valid && registerForm.get('city').touched">Please enter a valid city.</span>
                
                
                <label for=""> Gender
                    </label>
            <div class="radio" *ngFor="let gender of genders">
                        <input type="radio"
                        name="gender"
            formControlName='gender'
                        [value]="gender">
                        {{ gender }}
                </div>
                <!-- <div [formArrayName]='hobbies'>
                    <h4>Add some of your hobbies</h4>
                    <button class="btn btn-success" (click)="onAddHobby()">
                        Add hobby
                    </button>
                    <div class="form-group"
                    *ngFor="let hobbyControl of registerForm.get('hobbies').controls; let i = index">
                    <input type="text" class="form-control" [formControlName]="i">
                    
                </div>
            </div> -->
                <input type="submit" class='btn btn-primary' [disabled]="registerForm.invalid">
    </form>
</div>

</div>