<!-- <button class="btn btn-success" (click)="loadReimbs()">Click</button> -->
<!-- <app-search></app-search> -->
<!-- <div class="centered-content-container"> -->
    <!-- <div class="col-lg-5">
        <app-profile-item [profile]="profile" *ngFor="let profile of profiles"></app-profile-item>

    </div> -->
    <!-- <div class="jumbotron"></div> -->
    <!-- <div class="col-lg-12"> -->
        <router-outlet></router-outlet>

    <!-- </div> -->

<!-- </div> -->
<!-- <app-profile-page></app-profile-page> -->