<div class="container-fluid col-lg-8">
    <div class="jumbotron"> Hello, please note:

       <li>
            Because this app is under-development, just click the submit button to see the navbar.
         
    </li> 
    <li>
            Auth-guards are currently commented, so you can also type directly into the URL to navigate.
        
    </li>   
    </div>
    <form class="form-container col-lg-6" (ngSubmit)="onLogin(username,password)">
        <div class="form-group">
            <input type="text" [(ngModel)]="username" name="username" class="form-control" placeholder="username" required/>
            <input type="text" [(ngModel)]="password" name="password" class="form-control" placeholder="password" required/>
            
            <input type="submit" class="form-control btn btn-primary col-lg-3"/> 
        </div>
        </form>
        </div>
        